*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, rgb(201, 138, 22),rgb(184, 184, 23));
    font-family: Arial, Helvetica, sans-serif;
   
}
.container{
    display: grid;
    margin-top: 2em;
    grid-template-columns: repeat(4,5rem);
    grid-template-rows: minmax(6rem,auto) repeat(5,5rem);
    gap: 0.1rem;
    
}
.display{
    grid-column: 1 / -1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow-x: auto;
    background-color: rgb(114, 103, 103);
    color: rgb(0, 0, 0);
    font-size: 2em;
    padding: 1em;
    border-radius: 10px;
}
button{
    background-color: rgb(8, 8, 8);
    color: rgb(228, 216, 216);
    font-size: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
button:hover{
    background-color: rgb(19, 18, 18);
}
button:active{
    transform: scale(0.85);
}
button.btn1{
    grid-column: 1/span 2;
}
button:last-child{
    grid-column:3/ span 2;

}
